
.semaforo{
padding: 10px;
background: black;
display: inline-block;
text-align:center;
margin: 0 auto;
}

.light{
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
}

.red { background: red;}
.yellow {background: yellow;}
.green {background: lightgreen;}
.glow {box-shadow:0px 0px 20px 2px white}

.offred{background: darkred;}
.offyellow {background: darkgoldenrod;}
.offgreen {background: darkgreen;}